* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 8rem;
}

p {
  font-size: 2rem;
}

li {
  font-size: 1.5rem;
  margin: 1.5rem;
}